
body{
	margin: 0px;
    padding-top: 65px;
    padding-bottom: 50px;
    background-color: #dbe6e0;
    background-image: url(../img/background3.jpg);
    background-repeat: no-repeat;
    background-color: none;
    background-position: left bottom;
    background-attachment: fixed;
    background-color: #dbe6e0;
}
.jumbotron {
  text-align: center;
  padding: 5px; 
  background: rgba(200, 54, 54, 0); 
  padding-top: 10px;  
}

.jumbotron p{
  font-size: 1em;
}
.brand{
    height: 50px;
    width: 80px;
    margin: 0;
    padding: 0;
    border:none;
}
.profile-name{
    padding-top:10px;
    font-size: 1.6em;
}

#player-image{
    max-height: 60px;
    max-widthwidth:60px;
}

.footer{
  padding-top: 5px;
    position: fixed;
  text-align: center;
  color: white;    
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
}

.player-profile{
    background-color: white;
    border-radius:10px;
    padding-left: 10px;
}

.playerProfile h4{
    text-align: center;
    margin:0;
}

#player-image{
    border-radius: 10px;
    padding-top: 5px;
    padding-left:43px;
    padding-bottom: 15px;
    max-height:auto;
    max-width: auto;
}

.officer{
   background-color: white;
   border-radius:10px;
   opacity: .8;  
}

.forum{
   background-color: white;
   size: 100%;
   border-radius:10px;
   opacity: .8;     
}

.newPostBorder{
   padding:10px;
}

.forum #categories{
   margin-left: 22px;
}


.forum h4{
   font-family: Georgia;
   font-weight: bold;
}

.forum h6{
	margin-left: 40px;
	margin-right: 40px;
    font-size: 10px;
    color: #929292;
    margin-top: 0px;    
}

.forum h5{
  
    margin-bottom: 0px;
    padding-bottom: 0px;  
}

#subcategories{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#subcategory{
  margin-left: 22px;
}

#topicTitle{
  margin-left: 22px;
  border-radius: 25px;
}

#topic{
  margin-left: 22px;
}

#topicDetails{
  font-size: 11px;
  margin-bottom: 20px;
}
#signature{
  margin-left: 0px;
}

.forum #content{
  margin-left: 0px;
  margin-bottom: 10px;
}

.forum #topicContent{
  margin-left: 0px;
  margin-bottom: 10px;
}

hr{
	background-color: black;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: 30px;
	margin-right: 30px;
}


#space{
	background-color: #dbe6e0;
	height: 10px;
    opaque: .8;
    margin-left: 0px;
    margin-right: 0px;
}

#smallSpace{
	background-color: #dbe6e0;
    opaque: .8;
	height: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#forumPic{
	width: 23px; 
	height: 23px;
	margin-left: 5px;
	margin-right: 5px;
}

#userPicture{
	margin-bottom: 20px;
}	


.forum table{
   background-color: white;
}

.forumPic{
	width: 50px; 
	height: 50px;
}
.officerApplication {
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.officerApplication h2{
    padding-bottom: 7px;
    text-align: center;
    text-decoration: underline; 
}

.forum #label{
     background-color: #dbe6e0;
}
